:root {
  --color: #171719;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #F5F5F5;
  --bg-secondary: #fff;
  --border-color: #ddd;
}
  
.dark-mode {
  --color: #F5F5F5;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #171719;
  --bg-secondary: #000;
  --border-color: #0d2538;
}

.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

/* Eigene Farbthemes */
.maui-mode {
  --color: #0FA3B1;
  --color-primary: #B5E2FA;
  --color-secondary: #ff0000;
  --bg: #EDDEA4;
  --bg-secondary: #F7A072;
  --border-color: #F7A072;
}

.puk-mode {
  --color: #fff;
  --color-primary: #B5E2FA;
  --color-secondary: #ff0000;
  --bg: #e6007e;
  --bg-secondary: #000;
  --border-color: #F7A072;
}

/* Body Styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.7s;
}

a {
  color: var(--color-primary);
}

footer {
  background-color: var(--bg-secondary)
}

/* Tailwind apply */
.slide {
  @apply overflow-hidden my-0 mx-auto px-40 py-36 flex flex-col items-center justify-center;
  min-height: 520px;
}